/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
  	background: #FFf;
}

body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

body h1,h2,h3,h4,h5,h6{
	    font-family: 'Asap', sans-serif;
}

/*-- header --*/
#home {
    background: url(../images/header-bg.jpg) no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:650px;
	position: relative;
}

.top-header {
	padding: 2em 0;
}

.logo h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
     color:#fff;
}

.logo h1 a{
	text-decoration:none;
	 color:#fff;
}

.logo span {
    border: 7px solid #00a78e;
    padding: 0px 14px;
    font-size: 1.2em;
    color: #fff;
}

.logo{
	float:left;
}

.navigation-right{
	float:right;
}

.navigation-right ul li{
	display:inline-block;
}

.navigation-right ul li a{
	color:#fff;
    font-size:1em;
    text-decoration: none;
    padding: 10px 0;
	text-transform:uppercase;
    font-family: 'Open Sans', sans-serif;
}

.navigation-right ul li.active a{
	    color: #00a78e;
}

span.menu{
	display:none;
}

/*-- nav-hover --*/
.link-effect-3 a {
	padding: 10px 0;
	margin: 0 12px;
	color: #797878;
	text-shadow: none;
	position: relative;  
    font-family: 'Open Sans', sans-serif;
}

.link-effect-3 a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 10px 0;
	max-width: 0;
	border-bottom: 3px solid #00a78e;
    color: #00a78e;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}

.link-effect-3 a:hover::before {
	max-width: 100%;
}

/*--banner-info--*/
.banner-info {
    background:rgba(23, 20, 20, 0.58);
    margin-top: 4em;
}

.header-left {
    padding: 3em;
}

.header-right {
    padding: 3em;
}

ul.address-text {
    padding: 0;
}

ul.address {
    padding: 0;
}

.header-left img {
    width: 100%;
     margin-top: 19px;
}

.header-right {
    padding-left: 3em;
}

.header-right h1 {
    font-size: 2.5em;
    color: #fff;
    margin: 0.5em 0 0;
    font-weight: bold;
}

.header-right h1 {
    font-size: 1.2em;
    color: #FFF;
    background: #00a78e;
    display: inline-block;
    padding: .5em 1.5em;
    position: relative;
	    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.header-right h1:before {
       width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -9px;
    left: 12px;
    border-style: solid;
    border-width: 14px 11px 0 12px;
    border-color: #00a78e transparent transparent transparent;
}

.service-head h4 {
    font-size: 1.2em;
    color: #FFF;
    background: #00a78e;
    display: inline-block;
    padding: .5em 1.5em;
    position: relative;
	    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.service-head h4:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -9px;
    left: 12px;
    border-style: solid;
    border-width: 14px 11px 0 12px;
    border-color: #00a78e transparent transparent transparent;
	
}

.header-right h6 {
       font-size: 1em;
    color: #C7C7C7;
    margin-top: 0.8em;
    letter-spacing: 3px;
    text-transform: uppercase;
}

ul.address {
    margin-top: 2em;
    border-top: 1px solid #AFAFAF;
    padding-top: 0.5em;
}

ul.address li {
    display: block;
}

ul.address li ul.address-text li {
    display: inline-block;
    font-size: 1em;
    color: #fff;
    margin-top: 1em;
	font-weight: 400;
}

ul.address li ul.address-text li:nth-child(1){
	width: 20%;
}

ul.address li ul.address-text li a {
    color: #fff;
	text-decoration:none;
}

ul.address li ul.address-text li a:hover{
        color: #00a78e;
}

ul.address-text b {
    color:#fff;
}

/*--social-icons--*/
ul.social-icons{
	    display: block;
    padding: 0;
    background:#00a78e;
    padding:1.3em 0;
    text-align: center;
	margin:0;
}

.social-icons li {
    display: inline-block;
    margin-right: 1%;
}

.social-icons li a{  
    background: url(../images/social-icons2.png) no-repeat 3px 3px;
    display: block;
    height: 32px;
    width: 32px;
	margin-right: 1em;
	-webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}

.social-icons li a:before {
	content: '';
    display: block;
    height: 32px;
    width: 32px;
       border: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg); 
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);	
}

.social-icons li a.fb{
	background-position: 3px -30px;
}

.social-icons li a.in{
      background-position: 3px -62px;
}

.social-icons li a.dott {
background-position: 3px -94px;
}

.social-icons li a:hover::before {
    border-color: #00a78e;
	    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/*-- wellcome-note --*/
.welcome-note{
	margin:3em 0;
}

.note{
	
}

.note h1{
	color:#FFF;
	font-size:2.5em;
	font-weight:400;
}

.note h1 span{
	font-weight:700;
}

/*-- /blogs --*/
.news-text {
    float: right;
    padding: 3.38em 2em;
    background: #f4f4f4;
}

.news-img {
    float: left;
    position: relative;
    padding: 0;
}

.news-text.two {
    float:left;
}

.news-img img,.news-img.two  img{
    width: 100%;
}

.news-img.two {
    float:right;
}

.news-text h3   {
    font-size: 1.4em;
    color: #333333;
    text-transform: uppercase;
        margin-bottom: 1em;
		font-weight:bold;
}

.news-text p {
    font-size: 0.9em;
    line-height: 1.9em;
    margin: 1em 0 2em 0;
    color: #777;
}

.news-text h3  a,ul.news li:hover  i{
	 color:#00a78e;
	 text-decoration:none;
}

ul.news li {
    display: inline-block;
       margin-right: 1em;
}

ul.news li i {
    margin-right: 4px;
}

ul.news li a{
    font-size: 0.9em;
    color: #777;
}

ul.news li i{
	color:#333;
}

a.read {
    padding: 0.5em 1.5em;
    font-size: 1em;
    color: #00a78e;
    border: 2px solid #00a78e;
    text-decoration: none;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -o-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
}

a.read:hover {
	background:#00a78e;
	color:#fff;
}

ul.news {
    padding: 0;
}

.news-grid {
    margin: 2em 0;
}

.news-grid:hover{
		transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
   box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   -o-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.blog {
    padding:5em 0;
}

.about-inner p {
    color: #777;
    line-height: 1.8em;
    font-size:0.9em;
}

h4.tittle  {
    color: #00a78e;
    text-decoration: none;
    font-size: 1.4em;
    margin: 1em 0 0.5em 0;
    text-transform: uppercase;
    font-weight: bold;
}

.modal-dialog.about {
    width: 757px;
    margin:3.5em auto 0;
}


